<!doctype html>
<html>
<head>
    <title>Petition</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    {{{body}}}

    <!-- <script src="script.js"></script> -->
</body>
</html>
