<h2>Welcome to my petition, babes!</h2>

<form method='POST'>
    <input type="text" name="firstname" placeholder="firstname" autocomplete="off">
    </input>
    <input type="text" name="lastname" placeholder="lastname" autocomplete="off">
    </input>
    <input id="signInput" type="hidden" name="signature" placeholder="signature" autocomplete="off">
    </input>
    <canvas class="js-paint paint-canvas" width="400" height="100"></canvas>
    <button type='submit'>submit</button>
</form>
