<h2>Welcome to my petition, babes!</h2>

<input type="text" name="firstname" placeholder="firstname" autocomplete="off">
</input>
<input type="text" name="lastname" placeholder="lastname" autocomplete="off">
</input>
<input type="hidden" name="signature" placeholder="signature" autocomplete="off">
</input>
<canvas id="canv" width="200" height="50"></canvas>

<button type='submit'>submit</button>
