<div id="thanks-container">
    <h2 id="thanks-text">Thanks for signing!</h2>

    <div>
        <img id="signature" src={{signature}} width="400" height="100"></img>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <a id="see-signers" href="/signers">See all signers</a>
    </div>
</div>
