* {
    box-sizing: border-box;
}
body {
    background-color: #1a1a1a;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; */
}
.rotated {
    /* width: 250px;
    height: 50px; */
    /* transform: rotate(90deg); */
    /* margin-top: 30px; */
    /* display: flex; */
    /* justify-content: flex-end; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#log-in {
    color: #1a1a1a;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    background-color: whitesmoke;
    margin-right: 10px;
    /* margin: 5px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: wrap-reverse; */
    /* text-align: center; */
    /* align-self: right;
    justify-content: right; */
}
#log-in:visited {
    color: #1a1a1a;
    text-decoration: none;
}
#try-again {
    background-color: red;
    color: #1a1a1a;
}
#register-container {
    /* margin-top: 1rem; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#register-text {
    width: 60%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 70px;
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; */
}
input {
    width: 95%;
    height: 55px;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    border-bottom: 2px solid lightgrey;
    background: none;
    margin-top: 15px;
    color: whitesmoke;
    outline: none;
}
button {
    height: 3rem;
    width: 7rem;
    background-color: #1a1a1a;
    border: 1px whitesmoke solid;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    margin-top: 50px;
    outline: none;
}
#login-container {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#login-text {
    width: 100%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 40px;
}
#profile-container {
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#profile-text {
    width: 60%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 50px;
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; */
}
#petition-container {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#petition-text {
    width: 100%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 40px;
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; */
}
.paint-canvas {
    border: 1px whitesmoke solid;
    /* position: relative; */
    display: block;
    margin: 1rem;
}
#thanks-container {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#thanks-text {
    width: 100%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 40px;
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; */
}
#edit-button {
    color: #1a1a1a;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    background-color: whitesmoke;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-end;
}
#log-in:visited {
    color: #1a1a1a;
    text-decoration: none;
}
#signature {
    border: 1px whitesmoke solid;
    display: block;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 70px;
}
#see-signers {
    background-color: #1a1a1a;
    border: 1px whitesmoke solid;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    padding: 15px;
}
#see-signers:visited {
    color: whitesmoke;
    text-decoration: none;
}
#signers-container {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: left;
}
#signers-text {
    width: 100%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 45px;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 45px;
}
#signers-link {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    padding: 5px;
}
#signers-link:visited {
    color: whitesmoke;
    text-decoration: none;
}
#signers-link:hover {
    color: grey;
    text-decoration: none;
}
li {
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    list-style-type: none;
    word-spacing: inherit;
    margin: 5px;
}
#signers-from-city-container {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: left;
}
#signers-from-city-text {
    width: 100%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 45px;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 45px;
}
#edit-container {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    justify-content: center;
}
#edit-text {
    width: 70%;
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-size: 50px;
}
#edit-inputs {
    width: 50%;
}
